<h2>Список заказов</h2>

<table class="table table-bordered">
    <tr>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Адресс</th>
        <th>Заказ</th>
    </tr>
        
    <% @orders.each do |order| %>
    <tr>
        <td><%= order.name %></td>
        <td><%= order.phone %></td>
        <td><%= order.adress %></td>
        <td><%= order.orders_input %></td>
    </tr>
<% end %>
</table>